{% assign repo_url = include.repository | prepend: 'https://github.com/' %}

<div
  class="featured-repo-card"
  data-featured-repo
  data-repo="{{ include.repository }}"
  data-repo-url="{{ repo_url }}"
  data-state="loading"
>
  <div class="featured-repo-card__eyebrow">{{ include.repository }}</div>
  <div class="featured-repo-card__title-row">
    <h3 class="featured-repo-card__title">{{ include.repository | split: '/' | last }}</h3>
    <span class="featured-repo-card__badge">GitHub</span>
  </div>
  <p class="featured-repo-card__description">
    Loading repository metadata...
  </p>
  <div class="featured-repo-card__meta">
    <span><i class="ti ti-loader-2"></i>Fetching details</span>
  </div>
  <div class="featured-repo-card__actions">
    <span class="featured-repo-card__status">Preparing repository card.</span>
    <a
      class="featured-repo-card__fallback-link"
      href="{{ repo_url }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      Open on GitHub
    </a>
  </div>
</div>
